body{
    text-align: center;
    background: url(../img/16a88f7fa89da369e78edb302f60aa86.jpg);
}

h1{
    color: aliceblue;
}

h2{
    color: beige;
}

button{
    padding: 10px 50px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    background: rgb(56, 54, 54);
}